<template>
    <div class="animated fadeIn justify-center bg-red-600 shadow-xl justify-center w-full h-auto p-5 m-auto">
        <p class="text-xl font-bold text-red-200">Error</p>
        <div class="flex">
            <div class="flex px-10 h-auto max-h-screen relative bg-red-900 rounded border-black text-white text-xs m-auto overflow-auto whitespace-normal leading-tight list-none">
                <ul class="m-auto p-2">
                    <li v-html="messages"></li>
                </ul>
            </div>
            <button class="m-2 h-6 rounded-lg bg-gray-800 justify-center font-bold text-red-600" @click="closeWindow">
                X
            </button>
        </div>
    </div>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
    props: {
        messages: {
            type: String
        }
    },
    methods: {
        closeWindow() {
            this.$emit('clearError', {
                show: false,
                msg:""
            })
        }
    }
})
</script>

