<template>
    <div class="animated fadeIn flex justify-center bg-blue-600 shadow-xl justify-center w-full h-32 m-auto">
        <div class="w-64 h-16 relative bg-blue-900 rounded border-black text-white m-auto">
            <input type="file" class="absolute block w-full h-full opacity-0 pin-r pin-t" id="files" @change="onFileChange">
            <button class="w-full h-full">Load config file</button>
        </div>
        <button class="m-2 w-6 h-6 rounded-lg bg-gray-800 justify-center font-bold text-red-600" @click="closeWindow">
            X
        </button>
    </div>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
    methods: {
        onFileChange(e: any) {
            var files = e.target.files || e.dataTransfer.files;
            if (!files.length)
                return;
            const reader = new FileReader()
            reader.readAsText(files[0], 'UTF-8')
            reader.onload = (evt) => {
                const target = evt.currentTarget
                if (target && target['result']) {
                    try {
                        const config = JSON.parse(target['result'])
                        console.log(config)
                        this.$emit('newInstructions', config)
                        this.closeWindow()
                    }
                    catch(err) {
                        const errorPayload = { 
                                show: true,
                                msg: err.message
                            }
                        this.$emit('newError', errorPayload)
                        this.closeWindow()
                        console.log(errorPayload)
                        //console.error(err)
                    }
                }
            }
        },
        closeWindow() {
            this.$emit('loadFile')
        }
    }
})
</script>

