<template>
    <div class="flex flex-col">
        <div class="flex flex-row items-center w-auto mx-16 mt-16 h-12 bg-gray-200">
            <div class="w-1/3 bold text-l">
                CryoStack pipeline log
            </div>
            <div class="w-2/3 flex flex-row-reverse">
                <button class="p-1 m-2 focus:outline-none bg-white rounded-lg border-black border justify-center text-xs text-black-600" @click="closeLog">
                    close log
                </button>
                <div class="p-1 m-2 focus:outline-none bg-white rounded-lg border-black border justify-center text-xs text-black-600" @click="downloadLog" >
                    Download
                </div>
            </div>
        </div>
        <div class="w-auto mx-16 mb-16 bg-white overflow-y-auto text-xs leading-tight list-none">
            <li v-for="(logMessage, index) in updatedLogs" :key="index">
                <div class="p-2">
                    <span v-if="logMessage.level > 49" class="text-red-800 font-bold"> ERROR </span>
                    <span v-if="logMessage.level === 30" class="text-blue-600 font-bold"> INFO </span>
                    <span v-if="logMessage.level < 30" class="text-600 font-bold"> DEBUG/TRACE </span>
                    <span class="text-black"> {{logMessage.name}} </span>
                    <span class="text-leiden"> {{logMessage.library}} </span>
                    <span class="text-blue-600"> {{logMessage.time}} </span>
                    <p/>
                    <span class="text-indigo-900"> {{logMessage.msg}} </span>
                </div>
            </li>
        </div>
    </div>
</template>

<script lang="ts">
import Vue from 'vue'
import VueChatScroll from 'vue-chat-scroll'
Vue.use(VueChatScroll)

const numberOfLogEntriesInDisplay = 1E52

interface logEntry {
    level: number
    source: string
    msg: string,
    time: string,
    name: string,
    library: string 
}

let buffer = ''

export default Vue.extend({
    props: {
        logs: Object
    },
    data: function() {
        const logList: logEntry[] = []
        return {
            logList
        };
    },
    computed: {
        updatedLogs: function() {
            const logList: logEntry[] = []
            for (const log of this.logs.logs) {
                if (log) {
                    let jsonEntry = {
                        hostname: '',
                        level: '',
                        msg: '',
                        time: '',
                        library: '',
                        name: ''
                    }
                    try {
                        jsonEntry = JSON.parse(log)
                    }
                    catch (err) {
                        console.log(log)
                    }
                    if (jsonEntry.name) {
                        const newLog: logEntry = {
                            level: parseInt(jsonEntry.level),
                            source: jsonEntry.hostname,
                            msg: jsonEntry.msg,
                            time: jsonEntry.time,
                            name: jsonEntry.name,
                            library: jsonEntry.library
                        }
                        logList.push(newLog);
                        if (logList.length > numberOfLogEntriesInDisplay) {
                            logList.shift()
                        }
                    }
                }              
            }
            this.logList = logList
            return logList
        }
    },
    methods: {
        closeLog() {
            this.$emit('closeLog', {
                show: false,
                logs: ""
            })
        },
        downloadLog() {
            const url = window.URL.createObjectURL(new Blob([JSON.stringify(this.logList, null, 2)]))
            const link = document.createElement('a');
            link.href = url;
            link.setAttribute('download', 'logfile.json'); //or any other extension
            document.body.appendChild(link);
            link.click();
        }
    }

})
</script>

<style>

.logWindow {
    height: 300px;
}
</style>
