<template>
  <div>
   <NavBar :currentPath=currentPath @changeCurrentPath="changeCurrentPath"/>
   <Panel :currentPath=currentPath />
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'nuxt-property-decorator';
import NavBar from '~/components/NavBar.vue';
import Panel from '~/components/Panel.vue'

export default 
Vue.extend({
    components: {
        NavBar,
        Panel
    },
    data: function () {
        return {
            currentPath: "/"
        }
    },
    methods: {
        changeCurrentPath(newPath) {
            this.currentPath = newPath
        }
    }
})

</script>

<style>
body {
  background-color: rgb(192, 192, 192)
}
</style>