<template>
    <nav class="sticky top-0 bg-black pl-6 pb-6 z-10">
        <div class="flex-no-wrap">
            <QueueStatusBar/>
        </div>
        <div class="flex">
            <div class="items-center text-white mr-6 cryoStackLogo">
                <img class= "" src="../assets/cryoStack.svg">
            </div>
            <div class="flex items-center flex-shrink-0 text-white mr-6">
                <span class="font-semibold text-xl tracking-tight">CryoStack</span>
            </div>
        </div>
        <div class="flex w-auto text-white m-6 border-b">
            <span class="flex">Data path:</span>
            <span class="flex-1">
                <input class="w-full ml-1 bg-black font-mono text-xs italic text-blue-400 focus:outline-none" :placeholder=currentPath v-model="currentPath"></input>
            </span>
        </div>
    </nav>
</template>

<script lang="ts">
import Vue from 'vue'
import QueueStatusBar from '~/components/QueueStatusBar.vue'

export default Vue.extend({
    components: {
        QueueStatusBar
    },
    data: function () {
        return {
            currentPath: "/"
        }
    },
    watch: {
        currentPath: function () {
            this.$emit('changeCurrentPath', this.currentPath)
        } 
    }
})
</script>
