<template>
  <div>
    <div class="relative left-0 top-0">
      <Services :currentPath=currentPath @newError="toggleError"/>
      <Pipeline @loadFile="toggleShow" @newError="toggleError" :payload="pipelinePayload"/>
      <div class="flex-no-wrap">
        <QueueMonitor @showLog="toggleLogView"/>
      </div>
    </div>
    <div v-if="toggleShowWindow" class="animated fadeIn fullScreenDialog bg-transp-grey z-40">
      <LoadFile @newError="toggleError" @loadFile="toggleShow" @newInstructions="loadPipelinePayload"/>
    </div>
    <div v-if="error.show" class="animated fadeIn fullScreenDialog bg-transp-grey">
      <AlertError @clearError="toggleError" :messages="error.msg"/>
    </div>
    <div v-if="log.show" class="animated fadeIn fullScreenDialog bg-transp-grey">
      <LogView @closeLog="toggleLogView" :logs="log"/>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'nuxt-property-decorator';
import Services from '~/components/Services.vue'
import Pipeline from '~/components/Pipeline.vue'
import LogView from '~/components/LogView.vue'
import LoadFile from '~/components/LoadFile.vue'
import AlertError from '~/components/AlertError.vue'
import QueueMonitor from '~/components/QueueMonitor.vue'

export default Vue.extend ({
    components: {
        Services,
        Pipeline,
        LogView,
        LoadFile,
        AlertError,
        QueueMonitor
    },
    props: {
      currentPath: {
        type: String
      }
    },
    data: function() {
        return {
          toggleShowWindow: false,
          error: {
            show: false,
            msg: ""
          },
          log: {
            show: false,
            logs: []
          },
          pipelinePayload: {}
        };
    },
    methods: {
        toggleShow() {
          this.toggleShowWindow = !this.toggleShowWindow
        },
        toggleError(errorPayload) {
          this.error = errorPayload
        },
        toggleLogView(payload) {
          console.log('Got the logs in panel')
          this.log = payload
        },
        loadPipelinePayload(pipelinePayload) {
          console.log('The panel has the payload')
          this.pipelinePayload = pipelinePayload
        }
    }
})
</script>

<style>
.fullScreenDialog {
  @apply absolute flex left-0 top-0 w-full h-full justify-center;
}
</style>