<template>
    <div>
        <a class="m-4"> Pipelines </a>
        <a href="#" class="inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-teal-500 hover:bg-white m-4" @click='loadPayloadFile'>
            Submit
        </a>
    </div>
</template>

<script lang="ts">
import Vue from 'vue'
import axios from 'axios'

export default Vue.extend({
    props: {
        payload: {
            type: Object
        }
    },
    methods: {
        loadPayloadFile() {
            this.$emit('loadFile')
        },
        startMovieMode() {
            const options = {
                method: 'POST',
                uri: 'http://localhost:3001/pipelines',
                body: this.payload,
                json: true // Automatically stringifies the body to JSON
            };
            console.log('I am ready to send requests')
            
            const req = axios.post(options.uri, options.body)
                .catch((err) => {
                    throw err
                });

            return req 
        }
    },
    watch: {
        payload: function () {
            this.startMovieMode().catch((err) => {
                const message = err.message
                this.$emit('newError', {
                    show:true,
                    msg: message
                })
            })
        }
    }
})
</script>

