<template>
    <div class="relative">
        <div id="container" class="h-64 w-64 m-4 border-2 bg-white rounded text-xs px-4 py-2 leading-tight overflow-auto">
                <transition-group ref="logList" name="list" tag="ul">
                    <li v-for="job in jobList" v-bind:key="job.id" class="flex">
                        <div class="p-1 align-top">
                            <div class="flex items-center">
                                <div :class="setIconClass(job.state)"></div>
                                <div class="text-black"> {{job.id}} </div>
                            </div>
                        </div>
                        <div :class="setTextClass(job.state)"> 
                            <div class= "" @click="openLog(job.id)">
                                <div class="text-leiden" title="Dataset hash"> {{job.dataId}} </div>
                                <div class="text-blue-600"  title="Docker Image"> {{job.image}} </div>
                                <div class="text-indigo-900"  title="When"> {{writeTime(job.ts)}} </div>
                            </div>
                        </div>
                    </li>
                </transition-group>
        </div>
    </div>
</template>

<script lang="ts">
import Vue from 'vue'
import VueChatScroll from 'vue-chat-scroll'
import socket from '~/plugins/socket.io'
import moment from 'moment'

let buffer = ''

export default Vue.extend({
    data: function() {
        const jobList: string[] = []
        return {
            jobList
        };
    },
    beforeMount () {
        socket.emit('newView')
        socket.on('current-list', (payload) => {
            console.log('got it')
            this.jobList = payload
        })
        socket.on('active', (active) => {
            console.log('Hey')
            console.log(active)
            if (active) {
                const jobs = this.jobList.filter((job: any) => job.id === active.id)
                if (jobs.length) {
                    this.jobList.forEach((job: any) => {
                        if (job.id === active.id) {
                            job.state = 'active'
                        }
                    })
                }
                else {
                    this.jobList.splice(0, 0, active)
                }
            }
        })
        socket.on('waiting', (waiting) => {
            console.log('Hey')
            console.log(waiting)
            if (waiting) {
                this.jobList.splice(0, 0, waiting)
            }
        })
        socket.on('completed', (active) => {
            this.jobList.forEach((job: any) => {
                if (job.id === active.id) {
                    job.state = 'completed'
                }
            })
        })
        socket.on('failed', (active) => {
            this.jobList.forEach((job: any) => {
                if (job.id === active.jobInfo.id) {
                    job.state = 'failed'
                }
            })
        })
    },
    watch: {
        jobList: function() {
            this.scrollTop()
        }
    },
    methods: {
        clearLog: function() {
            console.log('Hi!')
/*             db.getJobCounts().then((data) => {
                console.log(data)
            }) */
        },
        scrollTop: function() {
            const container = this.$el.querySelector("#container")
            if (container) {
                container.scrollTo(0,0)
            }
        },
        setIconClass: function(state) {
            return `icon-${state} rounded-full w-2 h-2 m-1`
        },
        setTextClass: function(state) {
            return `text-${state} p-1 text-xs`
        },
        writeTime: function(ts) {
            return moment(ts, 'x').format('LLL')
            // return time.toString()
        },
        openLog: function(job) {
            console.log(`getting logs from job ${job}`)
            socket.emit('getLog', job)
            socket.on(`jobLog-${job}`, (logs) => {
                console.log(`Logs for the job ${job}`)
                console.log(logs[0])
                const payload = {
                    logs,
                    show: true
                }
                this.$emit('showLog', payload)
            })
        }
    }
})
</script>

<style>

#container::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}


.list-enter-active, .list-leave-active {
  transition: all 1s;
}
.list-enter, .list-leave-to /* .list-leave-active below version 2.1.8 */ {
  transition: all 1s;
  opacity: 0;
  transform: translateY(-30px);
}

.list-move {
  transition: transform 1s;
}

.icon-completed {
    transition: all 1s;
    @apply bg-blue-800;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.icon-active {
    transition: all 1s;
    @apply bg-green-600;
    animation: blinker 1s infinite;
}

.icon-waiting {
    transition: all 1s;
    @apply bg-yellow-500;
}

.icon-failed {
    transition: all 1s;
    @apply bg-red-800;
}

.text-completed {
    transition: all 1s;
    opacity: 0.6;
}

.text-active {
    transition: all 1s;
    opacity: 1.0;
}

.text-waiting {
    transition: all 1s;
    opacity: 1.0;
}

.text-failed {
    transition: all 1s;
    opacity: 0.6;
    @apply line-through
}

</style>