<template>
    <div class="relative">
        <div id="container" class="flex flex-row-reverse h-auto w-auto text-xs italic text-white bounded px-4 py-2 leading-tight overflow-auto">
            <div class="flex flex-row px-2">
                Failed: {{ jobStatus.failed }} 
            </div>
            <div class="flex flex-row px-2">
                Delayed: {{ jobStatus.delayed }} 
            </div>
            <div class="flex flex-row px-2">
                Completed: {{ jobStatus.completed }} 
            </div>
            <div class="flex flex-row px-2">
                Active: {{ jobStatus.active }} 
            </div>
            <div class="flex flex-row px-2">
                Waiting: {{ jobStatus.waiting }} 
            </div>
            Queue status:
        </div>
    </div>
</template>

<script lang="ts">
import Vue from 'vue'
import socket from '~/plugins/socket.io'

let buffer = ''

export default Vue.extend({
    data: function() {
        const jobStatus: object = {}
        return {
            jobStatus
        };
    },
    beforeMount () {
        socket.emit('updateStatus')
        socket.on('currentStatus', (payload) => {
            console.log('got the status')
            console.log(payload)
            this.jobStatus = payload
        })
    }
})
</script>

<style>
</style>