<template>
    <div>
        <a class="m-4"> Services </a>
        <a href="#" class="inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-teal-500 hover:bg-white m-4 " @click='startImod'>
            imod:4.9.12 - 3dmod
        </a>
        <a href="#" class="inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-teal-500 hover:bg-white m-4 " @click='startEtomo'>
            imod:4.9.12 - etomo
        </a>
    </div>
</template>

<script lang="ts">
import Vue from 'vue'
import axios from 'axios'

export default Vue.extend({
    props: {
        currentPath: {
            type: String,
            default: "/"
        }
    },
    methods: {
        startImod() {
            const options = {
                method: 'post',
                uri: 'http://localhost:3001/services/imod',
                body: {
                    image: 'cryostack/imod:4.9.12',
                    dir: this.currentPath,
                    instruction: '3dmod'
                },
                json: true // Automatically stringifies the body to JSON
            };
            
            return axios.post(options.uri, options.body)
                .catch((err) => {
                    this.$emit("newError", err)
                });
        },
        startEtomo() {
            const options = {
                method: 'POST',
                uri: 'http://localhost:3001/services/imod',
                body: {
                    image: 'cryostack/imod:4.9.12',
                    dir: this.currentPath,
                    instruction: 'cd /home/cryostack && etomo --fg'
                },
                json: true // Automatically stringifies the body to JSON
            };
            
            return axios.post(options.uri, options.body)
                .catch((err) => {
                    this.$emit("newError", err)
                });
            }
    }

})
</script>


<style>
.cryoStackLogo {
  display: inline-block;
  position: relative;
  overflow: hidden;
  height: 100px;
  width: 100px;
}
</style>