<template>
  <div>
    <Main/>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'nuxt-property-decorator';
import Main from '@/components/Main.vue';

export default Vue.extend({
  components: {
      Main
    }
})

</script>

<style>
body {
  background-color: rgb(192, 192, 192)
}
</style>